*{
    margin: 0;
    padding: 0;
}

body{
    background: #b8e6b3;
    overflow: hidden;
    transition: .3s;
}

#content{
    perspective: 1000px;
}

.wrap{
    width: 797px;
    /* border: 1px solid #000; */
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    justify-content: space-between;
    /* perspective: 1000px; */
    transform-style: preserve-3d;
}

.box{
   width: 100px; 
   height: 100px;
   margin: 10px 0px;
   position: relative;
   transform-style: preserve-3d;

   transition: .3s;
   /* transform:rotateX(0deg) rotateY(0deg) rotateZ(0deg); */
}

.box div{
    width: 100%;
    height: 100%;
    border: 10px solid rgba(0, 0, 0, .1);
    box-sizing: border-box;
    position: absolute;

    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    line-height: 80px;
    text-shadow: 2px 2px 10px rgba(0,0,0);
}

.box div:nth-child(1){  /* 前面 */
    transform: translateZ(50px);
}
.box div:nth-child(2){  /* 后面 */
    transform: translateZ(-50px);
}

.box div:nth-child(3){  /* 上面 */
    transform: rotateX(90deg) translateZ(50px);
}
.box div:nth-child(4){  /* 下面 */
    transform: rotateX(90deg) translateZ(-50px);
}
.box div:nth-child(5){  /* 右面 */
    transform: rotateY(90deg) translateZ(50px);
}
.box div:nth-child(6){  /* 左面 */
    transform: rotateY(90deg) translateZ(-50px);
}

